$font-stack: Helvetica Neue, Helvetica, Arial, sans-serif;

$warningColor: #f00;
$moderateColor: #f40;
$validColor: #080;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

body {
  font-family: $font-stack;
}

.signup_wrapper {
  width: 320px;
  height: 420px;
  background: #fff;
  color: #000;
  border: 1px solid #000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.signup_container {
  padding: 30px 20px;
}

label {
  margin-bottom: 5px;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  height: 40px;
  padding-left: 2px;

  &[data-error="true"] {
    background-color: #fee;
    border: 1px solid $warningColor;
    outline: none;
  }
}

.error {
  float: right;
  color: $warningColor;
}

input[type="submit"] {
  @extend input[type="text"];
  width: 278px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;

  &:disabled {
    background-color: grey;
    cursor: default;
  }
}

.strength_container {
  h5 {
    margin-bottom: 1px;
  }
}

ul.password_check {
  list-style: none;
  padding-left: 0px;
  li {
    font-size: 12px;
    line-height: 16px;
  }
}

.not_passed {
  &:before {
    content: "\00D7";
    width: 10px;
    color: $warningColor;
  }
}

.passed {
  &:before {
    content: "\2713";
    width: 10px;
    color: $validColor;
  }
}

.strength_container {
  .hidden {
    display: none;
  }

  .live {
    display: block;
  }
}

#password-strength-bar-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 22px;
}

.password-strength-bar {
  height: 4px;
  background-color: #eee;
  width: 100%;
  position: absolute;
  left: 0px;
}

.password-strength-bar-2 {
  height: 4px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  left: 33.33%;
}

.password-strength-bar-3 {
  height: 4px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  left: 66.66%;
}

.password-strength-bar-color {
  height: 4px;
  position: absolute;
  left: 0;
  &[data-score="0"] {
    width: 0%;
    background-color: $warningColor;
  }

  &[data-score="1"] {
    width: 33.33%;
    background-color: $warningColor;
  }

  &[data-score="2"] {
    width: 66.66%;
    background-color: $moderateColor;
  }

  &[data-score="3"] {
    width: 100%;
    background-color: $validColor;
  }
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.dialog-wrapper {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .dialog-content {
    margin: 20px;
  }
}

.dialog-wrapper {
  button {
    margin-left: 40%;
    margin-bottom: 20px;
    background: black;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
}
